[2018-07-31 01:38] RamblingCookieMonster opened #1 "Create an agenda...."
Initially we can just hard code these, eventually maybe move to a dynamically generated bit... a file-per-demo pull request model, parsing of issues via API, or something along those lines.

[2018-07-31 07:58] potatoqualitee opened #2 "Default Parameter Values"
## Default Parameter Values

* **Name**: Chrissy LeMaire
* **Abstract**: `$PSDefaultParameterValues` are ultra useful for automation, scheduled tasks, and even docker but not a lot of people know about this feature. This 5-7 minute session will highlight the value of default parameter values and give real-world examples of how I use them.

  * **Twitter**:  [@cl](https://twitter.com/cl)
  * **Slac

[2018-07-31 15:52] RamblingCookieMonster opened #3 "Guidance for materials"
Need to establish a process for both accepting materials sourced here, and/or links to external sources (e.g. someone might have their own github repo of materials for a demo).

Might be worth aligning with agenda data in some way

[2018-07-31 17:07] dfinke opened #4 "The dime tour: PowerShell + Excel = Better Together"
## The dime tour: PowerShell + Excel = Better Together

A quick tour around my [PowerShell Excel module](https://www.powershellgallery.com/packages/ImportExcel) which lets you import/export Excel spreadsheets, without Excel being installed.

### Doug Finke - 10 time Microsoft MVP

| Catch up with me here|   |
|---|---:|
|Twitter| [@dfinke](https://twitter.com/dfinke)|
|Slack|[@dougfinke](https://p

[2018-07-31 17:33] potatoqualitee commented on #4
lol dime tour, i love it

[2018-07-31 17:42] mattcushing opened #5 "Import Excel files to SQL Server in less than 20 lines of code, seriously!!"
Import Excel files to SQL Server in less than 20 lines of code, seriously!!

* **Name**: Matt Cushing
* **Abstract**: How I went from being frustrated with SSIS handling Excel files, to importing things with ease using modules and scripts in Powershell.  No PS experience necessary because I don't really have any either (yet)!  With a hand from some great people, I went from banging my head against

[2018-07-31 17:49] awickham10 opened #6 "Setting Trace Flags as Startup Parameters with dbatools"
## dbatools - Setting Trace Flags as Startup Parameters
Database Administrator at Westfield

* **Name**: Andrew Wickham
* **Abstract**: How to set trace flags across your SQL Server landscape using the dbatool PowerShell module (Set-DbaStartupParameter and Enable-DbaTraceFlag functions)
* Optional links (remove if not using)
  * **Twitter**: https://twitter.com/awickham

[2018-07-31 17:56] mattcushing commented on #4
I can even follow him up with how someone with zero Powershell experience can use his module :)

[2018-07-31 18:19] jpomfret opened #7 "Applying SQL Server Data Compression with dbatools"
## Applying SQL Server Data Compression with dbatools

* **Name**: Jess Pomfret
* **Abstract**: Discover good candidates for row or page compression and then easily apply the recommended compression across your database.
* Optional links (remove if not using)
  * **Twitter**: https://twitter.com/jpomfret
  * **Slack ID**: jpomfret7
  * **Blog URL**: http://jesspomfret.com

[2018-07-31 18:30] alevyinroc opened #8 "Better, Safer SQL Queries from PowerShell"
## Better, Safer SQL Queries from PowerShell

* **Name**: Andy Levy
* **Abstract**: If you're working with SQL Server from PowerShell, either as a DBA, analyst, or anyone else running queries, you've probably used `Invoke-SqlCmd`. But depending on how you're building your queries, this can be error-prone or a huge security exposure! With the help of the `dbatools` module, I'll show you how to writ

[2018-07-31 18:57] RamblingCookieMonster opened #9 "Iron out the process for speakers more"
_When will speakers be notified?_

Maybe a minimum of 2 weeks notice, with an exception for this first session, where it might be... a week? Will ping folks in individual issues)

_How do you determine which demo fits in which session in which order?_

Not sure if this is something we can document initially, and fifo might not always work (e.g. if we want to group topics that go well together, or

[2018-07-31 19:05] RamblingCookieMonster commented on #9
Related:  We'll want to balance including enough demos to cover the full session (presumably we scheduled this for an hour, given the name : P) with not running over the full session length too much!

For example... if we schedule 6 demos, and each goes for 5 minutes (which is good, shorter is often better!), we'll only be at 30 minutes + overhead

But... if we schedule 12 demos, and they average

[2018-07-31 19:13] GABeech commented on #9
I wouldn't worry too much about grouping things that go well together. If you think about this in the context of lightening talk type setup - part of the fun is you are hearing about a bunch of different topics that are necessarily related.

For the scheduling ... schedule 6 and if you have extra time .. uhh PS Rap Battle?

[2018-07-31 19:14] michaeltlombardi commented on #9
My thought here is to have an agenda listed two-weeks out for future events, but for this one it might not be that much lead time.

As far as going over on the hour goes, same rules as at the conf? We're out of time, will roll you into next event?

We might want to make exceptions or handle scheduling more carefully for folks who are participating during serious off-hours.

[2018-07-31 19:28] michaeltlombardi commented on #9
My only real grouping concern is making sure we get to folks who are presenting at weird hours (middle of the night, early morning, etc) - otherwise ordering seems less important.

[2018-07-31 19:58] devblackops opened #10 "ChatOps with Microsoft Teams and PoshBot"
## ChatOps with Microsoft Teams

* **Name**: Brandon Olin
* **Your Timezone**: `UTC-7`
* **Abstract**: Are you using [Microsoft Teams](https://products.office.com/en-us/microsoft-teams/group-chat-software) and want to join the ChatOps fun? Do you want to simplify your workflow, use PowerShell to automate all the things, and empower your coworkers? Now you can with [PoshBot](https://github.com/posh

[2018-07-31 21:29] Windos opened #11 "Easy Desktop Notifications with BurntToast"
## Easy Desktop Notifications with BurntToast

* **Name**: Josh King
* **Your Timezone**: UTC+12 / UTC+13 _(Able & happy to participate during local business hours)_
* **Abstract**: Want to easily show notifications on your Windows 10 desktop? It's as easy as "cooking bread" with the [BurntToast](https://powershellgallery.com/packages/BurntToast) PowerShell module!
* **Links**:
  * **BurntToast (R

[2018-07-31 23:31] DanielSSilva opened #12 "Raspberry Pi with powershell and IoT module"
## PowerShell Core and IoT on Raspberry Pi

* **Name**: Daniel Silva
* **Abstract**: PowerShell on Raspberry opens a whole new world full of challenges. Check how you can interact with hardware using powershell and some examples of what you can achieve.
*
  * **Twitter**: [@DanielSilv9](https://twitter.com/danielSilv9)
  * **Slack ID**: Danielsilva on [powershell.slack.com](bit.ly/psslack)
  * **B

[2018-08-01 00:04] wsmelton commented on #9
The timezone could be something they need to add to their submission. It can be set in GitHub or Slack profile but not everyone does that 😁 ...knowing their day hours or evening hours would help you in scheduling.

You might also note say a preference if those that can do a presentation during their work hours or those that can only do evening time frame. Just based on when you plan on holding the

[2018-08-01 00:21] wsmelton opened #13 "Getting Started with Visual Studio Code"
## Getting Started with Visual Studio Code

* **Name**: Shawn Melton
* **Abstract**:

[code]

  * **Twitter**: [@wsmelton](https://twitter.com/wsmelton)
  * **Slack ID**: @wsmelton [powershell.slack.com](bit.ly/psslack)
  * **Blog URL**: [Blog](https://blog.wsmelton.info)

[2018-08-01 00:27] wsmelton opened #14 "Getting started with Docker in Visual Studio Code"
## Managing Docker in Visual Studio Code

* **Name**: Shawn Melton
* **Abstract**: A walk-through of using VS Code to work with Docker for Windows (or Mac). If you are someone that has installed Docker for Windows but do not know where to start, using VS Code extension for Docker will help. The extension offers an easier way to interact with Docker images and containers. If you are more comfortabl

[2018-08-01 00:33] wsmelton commented on #3
Well you could do this with some GitHub magic but not sure you want to get that deep....using nested repositories. If their demo was in a dedicated repository you can simply nest that into this repository.

Another option would be you create a folder for each power hour, by date or whatever, and then the PR the presenter does simply creates their named folder and add the content. You can then have

[2018-08-01 02:34] glennsarti opened #17 "(DevOps Culture) Sharing: What's in it for me!?"
## Sharing: What's in it for me!?

* **Name**: Glenn Sarti
* **Abstract**: This lightning talk looks at sharing through the eyes of a Sharer
* Rehash of my NDC Sydney lightning talk - https://ndcsydney.com/talk/lightning-talks/
  * **Twitter**: @glennsarti
  * **Slack ID**:  @glennsarti
  * **Blog URL**: https://glennsarti.github.io

Note - I can't do this till after 23rd Sept.

[2018-08-01 02:38] glennsarti commented on #3
personally, (and quite an opinion here) use GithubPages :-) No Wiki

Just use PRs for adding agendas and a folder for each powerhour session

[2018-08-01 14:46] nvarscar opened #18 "Deploying SQL code using Powershell"
## Deploying SQL code using Powershell

* **Name**: Kirill Kravtsov
* **Abstract**: Discover a way of deploying your SQL code in a reliable and repeatable manner by using Powershell deployment module [DBOps](https://www.powershellgallery.com/packages/dbops). Create multiple deployment configurations, rollback the deployment in case of errors, and even setup Continuous Integration for your database

[2018-08-01 18:43] vexx32 opened #19 "Learning PowerShell with PSKoans"
## PSKoans - PowerShell Enlightenment

* **Name**: Joel Sallow
* **Your Timezone**: UTC +5
* **Abstract**: I've a mind to show off the beginnings of the PSKoans module. It's not *complete* yet, but the foundations are quite solid. Cmdlets won't really be covered, but all the general language features of PS will be up for grabs (if we get time for all the weirdness there is to have there!)
* Option

[2018-08-01 20:19] sanderstad opened #20 "Cloning SQL Server Databases using PowerShell"
## Cloning SQL Server Databases using PowerShell

* **Name**: Sander Stad
* **Your Timezone**: UTC +2
* **Abstract**: Provisioning databases to our developers or other servers is a lot of hard and takes a lot of time. What if you have a tool set that enables you to clone databases in mere minutes instead of hours or days.
  * **Twitter**: https://twitter.com/SQLStad
  * **Slack ID**: @sqlstad
  *

[2018-08-01 22:46] rdbartram opened #21 "Getters and Setters for Classes with Custom Attributes"
## Getters and Setters for Classes with Custom Attribute

* **Name**: Ryan Bartram
* **Your Timezone**: UTC +2
* **Abstract**: Demonstrating how to define getters and Setters for properties in Powershell Classes using custom written attributes. Make properties readonly, set only, validate and manipulate data before it's set. All things that are possible once you have getters and setters
  * **Twit

[2018-08-02 08:18] TClark000 opened #22 "Using PwSH to gather information from silos"
## Using PwSH to gather information from silos

* **Name**: Teresa Clark
* **Your Timezone**: Your [UTC +1](https://www.timeanddate.com/time/zones/) (e.g. `UTC +1`)
* **Abstract**:  Discuss the constraints and the process involved in creating a PwSH information pipeline.
* **Slack Workspaces**: teresa clark on get-psuguk.slack.com & powershell.slack.com

[2018-08-02 16:02] ClaudioESSilva opened #23 "PowerShell and RegExp to convert code"
## PowerShell and RegExp to convert code

* **Name**: Cláudio Silva
* **Your Timezone**: `UTC +1`
* **Abstract**: I had a project where I needed to convert more than 100K lines of code. Can you imagine the pain of doing it all by hand? I have created an PowerShell function that uses regular expression in order to do the find/replace and used it on +1000 individual files. I did in less than 2 weeks

[2018-08-02 17:16] wsmelton commented on #13
More detailed agenda that I think will fit within 10 minute with no problem. On extensions I won't go over installing each one, will just bring attention to what they offer.

[code]

[2018-08-02 18:10] jaredcatkinson opened #25 "Intro to PSReflect-Functions"
## Intro to PSReflect-Functions

* **Name**: Jared Atkinson
* **Your Timezone**: `UTC -7`
* **Abstract**: PSReflect is a PowerShell module that provides a mechanism for calling Windows API functions in PowerShell without the need to compile code at runtime. Unfortunately, the barrier to entry to implementing PSReflect "definitions" is somewhat high. For this reason, I've created an add on module c

[2018-08-03 22:00] ctmcisco opened #27 "Customizing a Windows Desktop using Boxstarter + Chocolatey + GitHub Gist"
* **Name**: Francisco Navarro
* **Your Timezone**: UTC -5

* **Abstract**: Quickly setup any Windows Desktop with Boxstarter + Chocolatey and a GitHub Gist.

  * **Twitter**: @CtmCiscotwt
   * **Slack ID**: @ctmcisco

[2018-08-06 19:35] vexx32 commented on #19
Update: Having covered the basic discovery cmdlets and most of the *-Object cmdlets already, I might see what I can pack into a session.

Toying with whether I want to do a sort of run through of how the koans would work in practice or a more stepped-back theoretical 'this is the state of things'. I'm leaning towards the former.

[2018-08-07 03:08] devblackops opened #28 "Infrastructure Testing with the Operation Validation Framework"
## Infrastructure Testing with the Operation Validation Framework

* **Name**: Brandon Olin
* **Your Timezone**: `UTC-7`
* **Abstract**: Treat your infrastructure like code and test it! Learn how Pester and the [Operation Validation Framework](https://github.com/PowerShell/Operation-Validation-Framework) can be used to validate your infrastructure is operating the way you expect with versioned, di

[2018-08-07 22:46] RamblingCookieMonster opened #29 "2018-08-21 Lineup!"
Awesome to see so many submissions already : D

So!  Until we have a process around this, going to do things ad hoc / manually-ish

We came up with the following list for our Tuesday, August 21st @ 6:00 PM EST PowerHour:

[code]

@potatoqualitee, @dfinke, @mattcushing, @awickham10, @jpomfret, @alevyinroc - you all are scheduled to give demos, there's no chance you'll be bumped!

@devblackops, @Win

[2018-08-07 22:52] RamblingCookieMonster commented on #29
Also, on a scheduling related note, we'll try to get another powerhour in at the end of August or very beginning of September - will post something when we know more!

[2018-08-08 00:26] glennsarti commented on #29
@RamblingCookieMonster As per my note - I can't do `(DevOps Culture) Sharing: What's in it for me!?` until after 21st Sept.

Also PLEASE DON'T USE AMERICAN DATES  _end_rant_ :-)

[2018-08-08 00:31] Windos commented on #29
ISO 8601, FTW!

Lineup looks good, I'll be there with bells on!

[2018-08-08 00:31] dfinke commented on #29
Locked and loaded for 8/21/2018, and for those who are American date challenged, that's 21/08/2018 ;-)

[2018-08-08 00:42] alevyinroc commented on #29
I guess I better start rehearsing...

[2018-08-08 01:57] RamblingCookieMonster commented on #29
Eek!  updated, I suppose I should read more closely, thanks @glennsarti !

Also, yeah, sorry, posted while juggling babies and reverted to non iso, fixed!

@alevyinroc - that bumps you to a definite : )

[2018-08-08 02:17] ctmcisco commented on #29
Assuming other submissions TBD for next round?

[2018-08-08 05:14] devblackops commented on #29
@RamblingCookieMonster You can bump me if need be. I'll be in Tokyo on 8/21 and 6PM EDT is 7am in Japan (I think).

[2018-08-08 14:18] mattcushing commented on #29
I think I just threw up in my mouth a little :).  I should be good to go, my daughter is leaving for college the next day, do you know what order we're going to go in?

[2018-08-08 15:09] RamblingCookieMonster commented on #29
Oh! @mattcushing if you want to hold off (doing another session in short order), we’d be happy to bump you, guessing you have plenty to deal with!

[2018-08-08 15:11] mattcushing commented on #29
@RamblingCookieMonster I think I'll be okay.  The big work is going to be packing the cars the next day :)

[2018-08-08 19:12] wsmelton commented on #29
Recommended table reference for announcements. It will just provide reference links to the issue being presented and also tie the presenters as participants to the issue.

| Order | Issue Num | Created At | By | Title | Standby |
| --------- | -------- | ------ | ------- | -------- | ----- |
| 01 | #2 | 7/31/18 7:58:16 AM | @potatoqualitee | Default Parameter Values | No |
| 02 | #4 | 7/31/18 5:07

[2018-08-11 07:44] kjacobsen opened #31 "Submitting to Planet PowerShell"
## Submitting to Planet PowerShell

* **Name**: Kieran Jacobsen
* **Your Timezone**: UTC + 10
* **Abstract**: A quick run through of Planet PowerShell and how you can add your blog to the community feed.
* Optional links (remove if not using)
  * **Twitter**: https://twitter.com/kjacobsen
  * **Blog URL**: https://poshsecurity.com

[2018-08-11 07:49] kjacobsen opened #32 "Using DSC to improve your TLS configuration"
## Using DSC to improve your TLS configuration

* **Name**: Kieran Jacobsen
* **Your Timezone**: UTC +10
* **Abstract**: Run through on using DSC to improve the TLS configuration of your clients and servers.
* Optional links (remove if not using)
  * **Twitter**: https://twiter.com/kjacobsen
  * **Blog URL**: https://poshsecurity.com

[2018-08-11 17:15] devblackops opened #33 "Using shared tasks with psake for PowerShell module development"
## Using shared tasks with psake for PowerShell module development

* **Name**: Brandon Olin
* **Your Timezone**: `UTC-7`
* **Abstract**: A demonstration of referencing [shared psake tasks](https://github.com/psake/PowerShellBuild.Common) from a common module for PowerShell development. Using these shared tasks reduces the boilerplate scaffolding needed in most PowerShell module projects and help

[2018-08-15 17:01] RamblingCookieMonster commented on #29
Alrighty, bumping @devblackops to the next session.  We should be able to get away with having 9 slots lined up here, not going to backfill this close to the 21st

[2018-08-15 17:07] DanielSSilva commented on #29
Just to clarify, this means that i will leave stand by?

[2018-08-15 17:10] RamblingCookieMonster commented on #29
Ahh thanks for the reminder, need to draft up notes on who to notify when!  Yeah, so @Windos will no longer be on standby - Brandon was in stand by as well, so this didn't bump anyone into a 'for sure' spot, but it definitely increases the chances of getting to you!

[2018-08-15 17:31] DanielSSilva commented on #29
Gotcha! Any ideia when will you know it?

[2018-08-15 17:38] RamblingCookieMonster commented on #29
Oh!  I should probably clarify that!  So we have 60 minutes, and all we know about talks is less than 10 minutes (even something like 5 minutes is awesome).

StandBy simply means you'll present if we get to your session before the 60 minute mark.  If 6 people take 10 minutes each, you'll get bumped.  If 7 people take 7 minutes each (you're eighth in the lineup), you'll get in!  Chances are we'll g

[2018-08-15 19:19] MikeShepard opened #34 "WPFBot3000 demo"
## Getting started with WPFBot3000

* Mike Shepard
* UTC-5
* Quick introduction to new-ish WPF framework in PowerShell (no XAML required).
* https://github.com/MikeShepard/WPFBot3000
  * https://twitter.com/MikeShepard70
  * will update with SlackID when I'm at home
  * https://PowerShellStation.com

[2018-08-16 01:36] RamblingCookieMonster opened #35 "2018-08-30 6:00 PM EST Lineup!"
So!  We're scheduling the next PowerHour fairly quickly - We're planning for August 30th, 6:00 PM EST (UTC-5) given the timezone spread.

Why so soon?

* Apparently folks want to do this - really fun seeing all these proposals!!
* This might come in handy for folks interested in submitting to the [PowerShell + DevOps Global Summit CFP](https://powershell.org/2018/08/01/powershell-devops-summit-201

[2018-08-16 18:58] brianbunke commented on #9
A thought on standby:

It works for the Summit, where we have one chance, a pre-defined block of time, and would like to cram in as many volunteers as possible.

It seems a little more unnecessary in this format. We now have to coordinate scheduling some speakers for two different dates/times, and are potentially doubling the amount of time a volunteer is committing to.

We don't _have_ to go for

[2018-08-16 19:01] RamblingCookieMonster commented on #9
I could be persuaded in that direction?  If so, might prefer doing something like 8 by default (max 80 minutes, but should settle around an hour or less based on summit demo durations)?  cc @michaeltlombardi

[2018-08-16 19:06] vexx32 commented on #9
I'm a fan of this approach. Should make scheduling for y'all a ton easier.

[2018-08-17 14:07] ctmcisco commented on #35
I may have my Local School LSC meeting that night, but I will keep you posted ahead of time if I can not present. For now count on me presenting.

[2018-08-17 14:44] RamblingCookieMonster commented on #35
Oh!  Sorry @ctmcisco, to clarify, we're changing to only 8 sessions, all who will present.  You and Jared were 9 and 10 - so you'll be up in our third session, whenever we schedule that!

[2018-08-17 17:32] potatoqualitee opened #37 "Linking meetings in readme.md"
in a panic, i looked around for the schedule on here, on twitter and on google, then finally looked through the open issues to find when I was scheduled to speak. Please consider copying or (probably) prominently linking to schedule proposals on readme.md. so far, looks like we've got two candidates.

[2018-08-17 18:05] ctmcisco commented on #35
Never mind, my bad,  I misread thinking we were re-scheduled for the 30th, but that date is for the upcoming Power Hour. Thanks. I also think this is a better approach.

[2018-08-17 18:32] wsmelton commented on #37
If this is talking about just linking to the agenda issue that would be pretty clean method to use. Putting the whole agenda though on the readme would get pretty long unless we are talking about just putting the current and maybe the upcoming power hour on it.

You might also use the labeling in GH issues and have an "agenda" and then a "nexthour-agenda". The later one could be used in a floating

[2018-08-20 01:56] RamblingCookieMonster commented on #29
@DanielSSilva - fyi, we changed the format to always do 8 demos, no more idea of 'on deck' to avoid messing with speakers schedules (not to mention the scheduling pain on this side).  You're definitely up for the 21st!

[2018-08-20 02:01] RamblingCookieMonster commented on #9
Other things to consider:

* When do we need an ack from speakers by?  GitHub notifications are painful and speakers might not see these, so might need to ping via other means
* What happens if a speaker drops out?  People have lives, things come up.

[2018-08-20 19:07] RamblingCookieMonster commented on #35
Question for folks!

If any of you are up for it (schedule works, you already have content, etc.), there's a spot open for tomorrow (Tuesday's) session @ 6:00 PM EST - We should be fine with 7 speakers, but just in case anyone is ready to go : )

If so, ping me in Slack or twitter (@pscookiemonster) with a google account address we can send an invite to.

Thanks!

[2018-08-21 01:39] RamblingCookieMonster commented on #9
More things:

* Let speakers know what to expect (from us, and from them) each step of the way.  e.g.
  * "we need a google account address to invite you to present on YouTube,"
  * "the agenda will be posted a week before the session, you can submit pull requests to update or add material for your demo"
  * "we use YouTube / Google Hangouts on Air, we'll send you the presentation link around noon

[2018-08-21 03:27] ctmcisco commented on #35
Did you get that last minute presenter? :)

[2018-08-21 17:07] RamblingCookieMonster commented on #37
Yay!  Should be good to go.  Down the line we'll have a bit more automation (well, tooling) around this, but for now, added a link to an agenda.md, and notes on how the repo is organized (e.g. you can pull up /materials/somedate)

Thanks for the reminder on this!

[2018-08-21 17:07] #37 closed

[2018-08-21 22:29] michaeltlombardi commented on #6
Question from @MSAdministrator:

[2018-08-21 22:33] awickham10 commented on #6
Definitely love Docker-Compose! I have a few setup like that for my home theater and home networking setups. If I keep presenting on this I'll probably do that. Thanks for the suggestion!

[2018-08-21 22:38] ThmsRynr opened #47 "Writing and Deploying a VSTS Extension in 10 Minutes or Less"
Title: "Writing and Deploying a VSTS Extension in 10 Minutes or Less"
Name: Thomas Rayner
Timezone: 'Pacific Standard Time'
Abstract: |
    VSTS build and deploy extensions are incredibly powerful and flexible modules that can be installed from the Visual Studio marketplace, or developed and deployed yourself. In this no-slides-session, I'll show you how quickly you can get started writing and dep

[2018-08-21 23:11] steviecoaster opened #49 "Advanced BurntToast Notifications"
Title: "Advanced BurntToast Notifications"
Name: "Stephen Valdinger"
Timezone: 'Eastern Standard Time'
Abstract: |
  I'll dive in a little deeper on BurntToast and show you just how powerful (and useful!) toast notifications in Windows 10 can be

SlackID: '@steviecoaster'

[2018-08-21 23:42] michaeltlombardi commented on #4
Thank you so much for presenting today!

[2018-08-21 23:42] #4 closed

[2018-08-21 23:42] michaeltlombardi commented on #7
Thank you so much for presenting today!

[2018-08-21 23:42] #7 closed

[2018-08-21 23:43] michaeltlombardi commented on #12
Thank you so much for presenting today!

[2018-08-21 23:43] #12 closed

[2018-08-21 23:43] michaeltlombardi commented on #8
Thank you so much for presenting today!

[2018-08-21 23:43] #8 closed

[2018-08-21 23:44] michaeltlombardi commented on #11
Thank you so much for presenting today!

[2018-08-21 23:44] #11 closed

[2018-08-21 23:47] michaeltlombardi commented on #6
Thank you so much for presenting today!

[2018-08-21 23:47] #6 closed

[2018-08-21 23:50] michaeltlombardi commented on #2
Thank you for speaking today!

[2018-08-21 23:50] #2 closed

[2018-08-21 23:51] michaeltlombardi commented on #29
Done and done, this one is in the books!

[2018-08-21 23:51] #29 closed

[2018-08-22 01:23] RamblingCookieMonster opened #52 "Add YouTube time offset links"
materials/date/readme table might be a good spot to have links to each talk.  These readme's are initially generated, but wouldn't hurt to manually add links to the start of each talk (e.g. Daniel starts [here](https://youtu.be/fDQvdIEda_c?t=3278))

[2018-08-22 09:53] ClaudioESSilva commented on #35
Hi @RamblingCookieMonster @michaeltlombardi ,

Unfortunately, I can't join this one at this hour.
Can I jump to the next one?

Sorry. :disappointed:

[2018-08-22 09:55] ClaudioESSilva commented on #52
Ups, don't saw this issue before submitting PR https://github.com/PSPowerHour/PSPowerHour/pull/53.

Please see if it helps

[2018-08-22 10:35] #52 closed

[2018-08-22 12:39] RamblingCookieMonster commented on #1
Closing this out.  Will open a more specific issue when needed (e.g. for process to generate agendas)

[2018-08-22 12:39] #1 closed

[2018-08-22 12:40] RamblingCookieMonster commented on #35
No problem, thanks for the heads up @ClaudioESSilva !

[2018-08-22 12:41] RamblingCookieMonster commented on #35
@jaredcatkinson @ctmcisco - so much for ambiguity : P  either of you interested in filling in for Claudio before I poke other folks?

[2018-08-22 13:06] sanderstad commented on #35
It's not the best time for me but I'll manage.
It's going to bed 12:00 AM in the morning for me when the sessions start ;)

https://www.worldtimebuddy.com/est-to-cest-converter?qm=1&lid=5,12,2747891&h=5&date=2018-8-22&sln=18-19

[2018-08-22 13:19] ClaudioESSilva commented on #35
Oh man.. I mess up with the timezones.... :man_facepalming:
I don't know how I saw it. Thanks for the link @sanderstad

@RamblingCookieMonster I can do it! it will start at 11p.m here I'm ok with that schedule.
Sorry for the confusion!

Please confirm that I'm still in for this one :sweat_smile:

[2018-08-22 14:38] michaeltlombardi commented on #35
@RamblingCookieMonster, can we move @sanderstad and @ClaudioESSilva to the front of the line for presentations in this iteration? That way they can give their talks and drop off if needed, catch the other demos the day after?

[2018-08-22 14:46] RamblingCookieMonster commented on #35
I don't see why not.  Presumably 5 through 8 could all move up

[2018-08-22 17:10] TClark000 commented on #35
Variety of talks on 21st Aug was excellent.  It would be interesting to measure humidity and temp within a beehive (Raspberry Pi & PwSh, need to be hive-proof though).  I look forward to hearing more on the 30th even if late in the evening for a BST timezone.

[2018-08-22 21:18] tomlarse opened #56 "Relearning the troubleshooting basics in Powershell"
Title: "Relearning the troubleshooting basics in Powershell"
Name: "Tom-Inge Larsen"
Timezone: 'W. Europe Standard Time'
Abstract: |
  ping, nslookup, arp and traceroute all have PS equivalents. Time to start using them!
Twitter: '@ti83'
SlackID: '@Tom-Inge'
Blog: 'https://blog.codesalot.com'

[2018-08-22 21:53] rdbartram commented on #35
thanks @RamblingCookieMonster for moving me up. I don't have to stay up so late :D

[2018-08-23 10:10] sanderstad commented on #35
Thank for moving me up too 👍

[2018-08-23 10:12] ClaudioESSilva commented on #35
Thanks @RamblingCookieMonster.

[2018-08-23 15:14] potatoqualitee opened #58 "7 Reasons To Build a Workplace Module"
Title: "7 Reasons To Build a Workplace Module"
Name: "Chrissy LeMaire"
Timezone: 'Romance Standard Time'
Abstract: |
  I'm just an admin, standing in front of a world, asking other admins to convert their directory of scripts into a module.
Twitter: '@cl'
SlackID: '@cl'
Blog:  'https://netnerds.net'

[2018-08-23 20:00] Windos opened #60 "ISO 8601: One Date/Time Format to Unite the World"
[code]

[2018-08-23 20:53] ThmsRynr commented on #47
@Jaykul Yeah this one is gonna have to fly. I might be getting the inaugural hook for going over if there are any demo issues :smile:

[2018-08-23 22:00] ctmcisco commented on #35
Doubling checking this agenda is complete and will await the next round.

Thanks All

[2018-08-23 22:09] vexx32 commented on #35
Oh sweet, I got *plenty* of time to make sure my setup works 😄

Alright, sounds great!

[2018-08-23 22:15] ctmcisco commented on #35
Oh sorry vexx32, my bad, I was actually asking @cookiemonster if the agenda was full and ready to go as I wanted to know if we needed anyone to fill in, sorry for the confusion.

[2018-08-23 22:38] vexx32 commented on #35
You're fine; I'm just happy I get to watch a few extra people before I have to stumble over my own words. 😁

[2018-08-24 01:16] RamblingCookieMonster commented on #3
Might move to GitHub pages down the line, but have some tooling to essentially generate the agenda, folder layout, and initial individual demo readmes for all this stuff.  Feel free to open a new issue if you have a specific idea!

[2018-08-24 01:16] #3 closed

[2018-08-24 10:13] potatoqualitee commented on #60
Yessssss

[2018-08-25 03:58] RamblingCookieMonster commented on #31
Hiyo!  Scheduling this for September 13!  You're on with some US east and west coast folks - any preference on timing?

[code]

Cheers!

[2018-08-25 04:12] MSAdministrator opened #62 "Create a Docker container on Windows"
Title: "Create a Docker container on Windows"
Name: "Josh Rickard"
Timezone: 'America\New_York`'
Abstract: |
  I will quickly walkthrough a basic Dockerfile that will create a IIS web server
Twitter: '@MS_dministrator'
SlackID: '@MSAdministrator'
Blog: https://msadministrator.github.io

[2018-08-25 04:16] MSAdministrator opened #63 "Walkthrough my PSLogging PowerShell v5 Class"
Title: "Walkthrough my PSLogging PowerShell v5 Class"
Name: "Josh Rickard"
Timezone: 'America\New_York`'
Abstract: |
  I will walkthrough a PowerShell v5 Class called PSLogging that I was supposed to present at PowerShell Summit 2018 but I ended up getting the flu twice within 2 weeks and forbidden to go by my doctor.  Anyways, this will quickly walkthrough this PowerShell Class that allows you lo

[2018-08-25 04:20] MSAdministrator opened #64 "Walkthrough of my TemplatePowerShellModule"
Title: "Walkthrough of my TemplatePowerShellModule"
Name: "Josh Rickard"
Timezone: 'America\New_York`'
Abstract: |
  I will show my design patterns when creating a PowerShell module.  I will be showing the structure of my [TemplatePowerShellModule](https://github.com/MSAdministrator/TemplatePowerShellModule).
Twitter: '@MS_dministrator'
SlackID: '@MSAdministrator'
Blog: 'https://msadministrator.gi

[2018-08-28 01:39] RamblingCookieMonster opened #65 "Agenda should include more info"
Each agenda should include the issue of a proposed topic:

* Author, link to author
* Title, link to subfolder (materials / readme for that demo)
* Issue (i.e. where folks could interact with author, see conversation on the topic) << We don't have this!
* Time offset youtube link (after demo is recorded)

Anything else I'm missing?  Is this too much info?  The agenda seems the best spot to tie all

[2018-08-29 22:15] RamblingCookieMonster commented on #22
Hiyo!  Will ping in Slack but in case you miss that and see this - mind sending me your e-mail for some pre-powerhour bits? @pscookiemonster on twitter or powershell.slack.com should work.  Will send some details tonight, and final hangouts link tomorrow at ~ 5:30 PM.  Thanks!

Thanks!

[2018-08-30 02:40] RamblingCookieMonster opened #67 "2018-09-13 6:00 PM EST Lineup!"
So!  We're scheduling the next PowerHour fairly quickly - We're planning for September 13, 6:00 PM EST (UTC-5) given the timezone spread.

Why so soon?

* Apparently folks want to do this - really fun seeing all these proposals!!
* This might come in handy for folks interested in submitting to the [PowerShell + DevOps Global Summit CFP](https://powershell.org/2018/08/01/powershell-devops-summit-20

[2018-08-30 08:46] tomlarse commented on #67
Hi

Works for me, but earlier rather than later would be better, as we are already past midnight :)

[2018-08-30 11:36] steviecoaster commented on #67
Works perfect for me!

On Wed, Aug 29, 2018, 10:40 PM Warren Frame <notifications@github.com>
wrote:

[2018-08-30 13:27] ctmcisco commented on #67
Awesome! I am up. Works for me as well and if someone wants to take my spot and move me further out I am ok with that as it will be 5pm in my time zone.

[2018-08-30 14:52] ThmsRynr commented on #67
@RamblingCookieMonster I've got a conflict 😢

I could record it, submit it somewhere, and have you guys play it... but I'm not going to be able to make the live event, I don't think. Otherwise, I'll have to look at another date.

[2018-08-30 21:03] RamblingCookieMonster commented on #67
@ThmsRynr - no worries!  will swap you out and see if the next session works for you - cheers!

[2018-08-30 21:04] RamblingCookieMonster commented on #67
@tomlarse - oh!  We'll move you (and anyone else in a similar timezone) to the front : )

[2018-08-30 21:45] jaredcatkinson commented on #67
Hey Warren, I have a conflict with work travel that day. Is it possible to
move to the next iteration?

On Thu, Aug 30, 2018 at 2:04 PM, Warren Frame <notifications@github.com>
wrote:

[2018-08-30 21:51] RamblingCookieMonster commented on #67
@jaredcatkinson - absolutely!

[2018-08-31 00:57] Jaykul opened #71 "ProxyCommands"
[code]

[2018-08-31 01:51] RamblingCookieMonster commented on #13
Thanks again!  Do feel free to submit more proposals : D

[2018-08-31 01:51] RamblingCookieMonster commented on #18
Thanks again!  Do feel free to submit more proposals : D

[2018-08-31 01:51] RamblingCookieMonster commented on #19
Thanks again!  Do feel free to submit more proposals : D

[2018-08-31 01:51] RamblingCookieMonster commented on #20
Thanks again!  Do feel free to submit more proposals : D

[2018-08-31 01:51] RamblingCookieMonster commented on #21
Thanks again!  Do feel free to submit more proposals : D

[2018-08-31 01:51] RamblingCookieMonster commented on #22
Thanks again!  Do feel free to submit more proposals : D

[2018-08-31 01:51] RamblingCookieMonster commented on #23
Thanks again!  Do feel free to submit more proposals : D

[2018-08-31 01:53] #13 closed

[2018-08-31 01:53] #18 closed

[2018-08-31 01:53] #19 closed

[2018-08-31 01:53] #20 closed

[2018-08-31 01:53] #21 closed

[2018-08-31 01:53] #22 closed

[2018-08-31 01:53] #23 closed

[2018-08-31 01:57] RamblingCookieMonster commented on #67
@potatoqualitee @Windos - you're both in less-than-optimal-timezones... your proposals are up next to replace these - 2018-09-13, 6:00 PM EST - up for it?  Want want to wait for another session?  Up to you!

[2018-08-31 02:31] Windos commented on #67
Yeap, always up for it!

On Fri, 31 Aug 2018, 1:57 PM Warren Frame, <notifications@github.com> wrote:

[2018-08-31 05:58] potatoqualitee commented on #67
I'd like to wait for another session, thank you. I will be on my way to SQLGLA on that date.

[2018-08-31 20:15] RamblingCookieMonster commented on #67
alrighty @Windos, @MSAdministrator, added you to the lineup!

[2018-08-31 20:33] RamblingCookieMonster commented on #35
Thanks all, this was fun!

[2018-08-31 20:33] #35 closed

[2018-08-31 20:36] RamblingCookieMonster opened #75 "2018-09-19 6:00 PM EST Lineup!"
Wheee!  We're scheduling the next PowerHour fairly quickly - We're planning for September 19, 6:00 PM EST (UTC-5) given the timezone spread.

By              | Order | IssueNumber | Title
--------------- | ----- | ----------- | ------------------------------------------------------------
@Jaykul         | 01    | #71         | ProxyCommands
@jaredcatkinson | 02    | #25         | Intro to PSReflec

[2018-08-31 20:41] steviecoaster opened #76 "Implicit Remoting.....say what?!"
[code]

[2018-08-31 21:28] scrthq opened #77 "Building Dynamic CloudFormation Templates with VaporShell"
[code]

[2018-08-31 22:30] vexx32 commented on #21
@rdbartram my wife wants me to tell you that she hopes (as do I) that you had a fantastic wedding. ❤️

[2018-08-31 22:33] rdbartram commented on #21
Thanks alot! It's actually on the 1st i.e. tomorrow. We're both looking forward to it and appreciate the kinds wishes. Catch you in another pspowerhour, if not sooner in a PSKoans PR ;)

[2018-09-01 00:05] ctmcisco opened #78 "Quick introduction to Docker Compose for Linux"
[code]

[2018-09-01 00:31] ctmcisco opened #79 "Using the Automated Lab Framework to deploy a lab on Hyper-V Server 2016"
[code]

[2018-09-12 12:20] ChrisLGardner opened #82 "Git Rebase: Don't fear the Rebase-r"
[code]

[2018-09-12 13:29] steviecoaster opened #83 "Logging -- It's not just Flat files!"
[code]

[2018-09-14 00:54] #14 closed

[2018-09-14 00:54] #28 closed

[2018-09-14 00:54] #34 closed

[2018-09-14 00:54] #49 closed

[2018-09-14 00:54] #56 closed

[2018-09-14 00:54] #60 closed

[2018-09-14 00:54] #63 closed

[2018-09-14 00:54] #27 closed

[2018-09-16 12:42] #67 closed

[2018-09-17 00:54] RamblingCookieMonster commented on #75
Short notice, no worries if it doesn't work, but @ctmcisco,  @ChrisLGardner, @steviecoaster - any interest in speaking on Wednesday?  Have at least one slot open!

[2018-09-17 12:57] ChrisLGardner commented on #75
@RamblingCookieMonster Sorry I can't make that due to work commitments.

[2018-09-17 19:28] ctmcisco commented on #75
If I will play back up to @steviecoaster, I need to redeem my last presentation :)

[2018-09-18 13:17] RamblingCookieMonster commented on #75
@ctmcisco - if you have something ready to go and it wouldn't be stressful, that would be awesome.  Still waiting to hear from Jared and Matt, guessing at least one of them might not make it!

Also, no redemption needed, you did awesome, and should totally [submit a proposal for the summit](https://www.papercall.io/summit2019) if you would be up for it!

[2018-09-18 19:48] steviecoaster opened #94 "Bitlocker and Powershell"
[code]

[2018-09-20 14:47] RamblingCookieMonster commented on #25
This was awesome, thanks @jaredcatkinson!

[2018-09-20 14:47] #25 closed

[2018-09-20 14:48] RamblingCookieMonster commented on #47
This was awesome, thanks @ThmsRynr!

[2018-09-20 14:48] #47 closed

[2018-09-20 14:48] RamblingCookieMonster commented on #71
This was awesome, thanks @Jaykul!

[2018-09-20 14:48] #71 closed

[2018-09-20 14:49] RamblingCookieMonster commented on #76
This was awesome, thanks @steviecoaster!

[2018-09-20 14:49] #76 closed

[2018-09-20 14:49] RamblingCookieMonster commented on #77
This was awesome, thanks @scrthq!

[2018-09-20 14:49] #77 closed

[2018-09-20 14:49] RamblingCookieMonster commented on #78
This was awesome, thanks @ctmcisco!

[2018-09-20 14:49] #78 closed

[2018-09-20 14:50] #75 closed

[2018-09-21 01:52] scrthq commented on #77
My pleasure!

[2018-09-21 01:55] scrthq opened #97 "Getting Started with PowerShell Core in AWS Lambda"
[code]

[2018-11-06 15:54] RamblingCookieMonster opened #98 "2018-11-20 6:00 PM PST Lineup planning"
Hiyo!

EDIT: Here's the schedule (It may change):

Order | By             | IssueNumber | Title
----- | -------------- | ----------- | ------------------------------------------------------------------------
01    | @glennsarti    | #17         | (DevOps Culture) Sharing: What's in it for me!?
02    | @ctmcisco      | #79         | Using the Automated Lab Framework to deploy a lab on Hyper-V Serve

[2018-11-06 16:28] devblackops commented on #98
@RamblingCookieMonster I'm good with that time slot! I can talk about PoshBot and Teams.

[2018-11-06 16:58] scrthq commented on #98
I'm there, that timeslot is perfect for me. Looking forward!

[2018-11-06 17:14] steviecoaster commented on #98
I'm good with that slot. I can ramble about Bitlocker for a bit!

On Tue, Nov 6, 2018, 10:54 AM Warren Frame <notifications@github.com wrote:

[2018-11-07 21:19] awickham10 opened #99 "PSFramework - Logging to Graylog"
[code]

[2018-11-07 21:20] awickham10 commented on #99
I'm available for the November 20 session if needed.

[2018-11-08 19:54] KirkMunro opened #100 "Coming soon to a debugger near you"
[code]

[2018-11-08 20:08] RamblingCookieMonster commented on #100
Ohh!  Nice!  It's super short notice, but any chance you'd be up for doing this Nov. 20 somewhere between 6:00 PM PST and 7:00(ish) PM PST?

[2018-11-08 20:11] KirkMunro commented on #100
Sure. I saw your tweet about looking for content for that, which is why I responded with this proposal. Sign me up. :)

[2018-11-09 02:38] vexx32 opened #101 "Getting Started: Contributing to PowerShell Core"
[code]

[2018-11-09 02:45] vexx32 opened #102 "Deep Dive: Working in the Underbelly of the PowerShell Engine"
[code]

[2018-11-19 06:19] glennsarti commented on #98
@RamblingCookieMonster Count me in.  Issue #17   Just to confirm that this will start 18:00 PST (PST) Nov 20, which is 10:00 AWST (GMT +8) on Nov 21.

[2018-11-21 03:32] #10 closed

[2018-11-21 03:32] #17 closed

[2018-11-21 03:32] #79 closed

[2018-11-21 03:32] #94 closed

[2018-11-21 03:32] #97 closed

[2018-11-21 03:32] #99 closed

[2018-11-21 03:32] #100 closed

[2018-11-21 03:32] #101 closed

[2018-11-22 04:16] glennsarti opened #112 "{WIP} Origami : How does folding work in VScode PS Extension"
Work In Progress - Do **not** schedule this in yet

[code]

[2018-11-22 04:18] RamblingCookieMonster commented on #98
Thanks for making this happen @glennsarti, @ctmcisco, @steviecoaster, @devblackops, @scrthq, @awickham10, @KirkMunro, @vexx32!

[2018-11-22 04:18] #98 closed

[2018-11-22 04:37] vexx32 commented on #98
Glad to have been able to contribute a little something! 😄

[2018-11-23 03:35] Windos opened #113 "What's New in the World of Toast?"
[code]

[2018-12-04 14:55] nohwnd opened #114 "One approach to testing self-contained scripts with Pester"
[code]

[2018-12-04 14:55] nohwnd opened #115 "Common mistakes in Pester tests and how to avoid them"
[code]

[2018-12-04 14:56] nohwnd opened #116 "Cover your function with Pester unit tests"
[code]

[2018-12-04 14:56] nohwnd opened #117 "Cover your function with Pester integration tests"
[code]

[2018-12-04 14:57] nohwnd opened #118 "Assert: Write less Pester tests to cover more code"
[code]

[2018-12-04 15:43] steviecoaster opened #119 "So you want to start a blog, huh?"
[code]

[2018-12-04 15:43] vexx32 opened #120 "PowerShell Magic: Argument Transformations"
[code]

[2018-12-04 21:46] Schlauge opened #121 "Using PowerShell to extend the GUI"
[code]

[2018-12-09 22:03] tomlarse opened #122 "Host mkdocs in an Azure Storage Blob"
[code]

[2018-12-13 14:09] RamblingCookieMonster opened #123 "2018-12-18 1800 UTC Lineup planning"
Hiyo!

EDIT: Schedule:

Title                                              | IssueNumber | Order | By
-------------------------------------------------- | ----------- | ----- | ---------------
Assert: Write less Pester tests to cover more code | #118        | 01    | @nohwnd
Git Rebase: Don't fear the Rebase-r                | #82         | 02    | @ChrisLGardner
Using PowerShell to extend the GUI

[2018-12-13 15:45] nohwnd commented on #123
I’d like to do #118 and if you have empty slots I could also do #114

[2018-12-13 16:04] RamblingCookieMonster commented on #123
Yay!  We try to keep it so that we only have one-talk-per-speaker-per-pspowerhour, so we'll aim for #118 - thanks @nohwnd  : D

[2018-12-13 17:05] ChrisLGardner commented on #123
I'll do #82 but might be best if I'm on towards the end as I'm going to be in a hotel that day and want to be sure I'm actually somewhere I can present from.

[2018-12-13 19:17] mattcushing commented on #123
I want to, but I'm going down to pick up my daughter from college.  Do we
have any planned a few weeks out that I can commit to my calendar?

On Thu, Dec 13, 2018 at 12:05 PM Chris Gardner <notifications@github.com>
wrote:

[2018-12-13 20:53] Schlauge commented on #123
I’ll do #121

Sent from my iPhone

[2018-12-13 21:03] steviecoaster commented on #123
Gonna have to pass on this go 'round, unfortunately.

On Thu, Dec 13, 2018, 3:53 PM Schlauge <notifications@github.com wrote:

[2018-12-13 21:05] vexx32 commented on #123
I need a bit more time to prepare something for the proposals I have, I think, so I'll have to pass this turn around as well. 😄

[2018-12-13 21:20] tomlarse commented on #123
This one got a bit too close to christmas for me unfortunately. Too much end of season stuff with the kids' activities. :)

[2018-12-15 18:44] potatoqualitee commented on #123
I can do #58

[2018-12-18 19:02] thomasrayner opened #124 "Add a podcast/interview segment at the end of PSPowerHour"
At the end of a PSPowerHour session, especially one where there's only 3-5 presenters, it would be cool to have a chatting segment like the one at the end of the Dec 18, 2018 stream. That way you could feel good about running a session that might have fewer presenters, but still give viewers an hour (or something) of content.

My recommendation would be just to chat with the presenters about the t

[2018-12-18 19:03] potatoqualitee commented on #124
agreed, that was enjoyable

[2018-12-18 19:51] vexx32 commented on #124
I would even consider perhaps dropping the "standard" down to 6 presenters and just more or less always planning in the 10-20mins of chit chat and Q&A time?

[2018-12-18 20:46] #58 closed

[2018-12-18 20:46] #82 closed

[2018-12-18 20:47] #118 closed

[2018-12-18 20:47] #121 closed

[2018-12-18 21:36] #123 closed

[2018-12-18 21:43] devblackops commented on #124
"PSPowerHour B-Sides"

I think it's a good idea. Also gives you a chance for any follow up Q/A or to mention something you may have forgotten during the main presentation.

[2018-12-18 22:19] thomasrayner commented on #124
@devblackops totally. A 10 min window doesn't leave much time for Q & A either. Plus it'll take a bit of pressure off of the organizers to find so many presenters.

[2018-12-24 09:30] IISResetMe opened #127 "Do The -Split!"
[code]

[2019-01-02 01:35] RamblingCookieMonster commented on #124
I like the idea!  As long as @michaeltlombardi is up for it I'm in.  Particularly if we move to some cadence that leaves us with fewer speakers more often than not.  I'll help out more than last time (i.e. not sitting silently) if we do : P

[2019-01-07 18:20] michaeltlombardi commented on #124
I'm happy with the move to ~6 presenters and 15m post-chat!

[2019-02-05 14:03] RamblingCookieMonster opened #128 "2019-02-18 1800 UTC Lineup planning"
Hi all!

edit: Schedule so far:

Title                                                      | IssueNumber | Order | By
---------------------------------------------------------- | ----------- | ----- | ------------------
When Runspaces need to have a serious discussion           | #130        | 01    | @FriedrichWeinmann
Do The -Split!                                             | #127        | 02

[2019-02-05 14:05] RamblingCookieMonster opened #129 "Cancelled: 2019-02-25 1800 PST"
Hi all!

EDIT: Cancelling.  Looks like two sessions per month will be tough to fill!

We're looking for up to 8 folks for a February 25 @ 1800 PST PSPowerHour.  We'll be trying a mini podcast / discussion after the demos, for anyone interested in sticking around after their demos (per #124).

ccing folks with open issues:  @mattcushing, @devblackops, @MSAdministrator, @steviecoaster, @vexx32, @kja

[2019-02-05 14:18] vexx32 commented on #128
I won't be able to do this one, but I'm definitely up for doing the following one at 1800 PST. Think I'd love to do #120 at that point. 😄

I should be up for hanging out watching this one, though 👉 👉

[2019-02-05 14:21] vexx32 commented on #102
I'm gonna leave off doing this one as a PowerHour I think. I did this as a stream with Shane, and the recording can be found here on Youtube for anyone interested: https://www.youtube.com/watch?v=PxwHElPtD-0&t=627s

Considering it took me a good _two hours_ and it's still a bit too fast-paced for some, I don't think we'd be well-served with a handful of minutes on the topic.

[2019-02-05 14:21] #102 closed

[2019-02-05 14:22] vexx32 commented on #129
I didn't see this link 👀

But yeah, I'm up for #120 for this one!! 😄

[2019-02-05 16:08] nohwnd commented on #128
I am in with #114

[2019-02-05 16:31] FriedrichWeinmann opened #130 "When Runspaces need to have a serious discussion"
[code]

[2019-02-05 16:32] FriedrichWeinmann commented on #128
I'd be happy to do #130

[2019-02-05 16:36] IISResetMe commented on #128
18:00 UTC sounds excellent, can do #127!

[2019-02-05 17:51] devblackops commented on #129
1800 Pacific works for me! I'm down for doing #33.

[2019-02-05 19:43] steviecoaster commented on #129
I'll do #119 this go 'round.

[2019-02-06 02:39] Windos commented on #128
@RamblingCookieMonster, I can make either date work and can do #113

Feel free to use me to fill numbers if needed.

[2019-02-18 02:55] vexx32 commented on #129
@RamblingCookieMonster I've just reviewed my calendar for the week, and unfortunately I have a scheduling conflict for this one, so I'll have to pull out of this one, sorry! :(

[2019-02-18 14:57] IISResetMe commented on #128
@RamblingCookieMonster I'm afraid I won't be able to present tonight, as I've contracted a cold 🤧

[2019-02-18 15:44] nohwnd commented on #128
@IISResetMe that sucks, I was looking forward to your presentation. Get well soon!

[2019-02-18 17:27] FriedrichWeinmann commented on #128
Damn @IISResetMe , can only agree with @nohwnd on the sentiment.
Get well and remember to file a bug report - you getting a cold just in time for this definitely is one (in more than one sense ;) )

[2019-02-19 05:06] Gaspack opened #134 "PowerShell of things... GUI Edition"
[code]

[2019-02-20 11:04] Windos opened #135 "Azure Pipelines Speedrun"
[code]

[2019-02-20 13:38] RamblingCookieMonster commented on #134
Hiyo!  It's last minute, but any interest in speaking this coming Monday (Feb 25) @ 6:00 PM PST?  Also, can you give me a quick ping with your e-mail?  I'm at warren . frame at gmail

[2019-02-20 13:40] #113 closed

[2019-02-20 13:40] #114 closed

[2019-02-20 13:40] #122 closed

[2019-02-20 13:40] #130 closed

[2019-02-20 15:44] Gaspack commented on #134
Hi Warren,

Thanks for the consideration, as this is my very first public/online presentation... I have a few questions.

- I will demonstrate my own function I have created for GUI execution. that i have no concern.
- I will need to split everything into different parts/presentations over a long run.
My specialty is I "wrap" around other peoples modules to create a GUI experience.
- Do I need the

[2019-02-25 18:56] #128 closed

[2019-02-25 18:57] #129 closed

[2019-05-21 21:12] torque999 opened #137 "Deploy websites and bind vanity certificates in IIS with PowerShell"
[code]

[2019-05-29 05:21] devblackops opened #138 "Fun with Fonts: Displaying file and folder icons in your terminal"
[code]

[2019-05-29 19:32] RamblingCookieMonster opened #139 "2019-06-13 1800 PST Lineup planning"
Hi all!

We're looking for up to 8 folks for a June 13 @ 1800 PST PSPowerHour.  We'll be trying a mini podcast / discussion after the demos, for anyone interested in sticking around after their demos (per #124).

edit: 3 spots left.  Schedule so far:

Title | IssueNumber | Order | By
--- | ---  | --- | ---
PowerShell Magic: Argument Transformations | #120 | 1 | @vexx32
Azure Pipelines Speedrun | #

[2019-05-29 19:41] vexx32 commented on #139
I'll do #120 for sure!

[2019-05-29 19:52] mattcushing commented on #139
Having surgery on the 11th on my hand so controlling a mouse might be
difficult :)  I'm up for the next one tho!

On Wed, May 29, 2019 at 3:41 PM vexx32 <notifications@github.com> wrote:

[2019-05-29 20:11] Windos commented on #139
I'll do #135! ... going to have to refresh myself on that whole thing lol.

[2019-05-30 00:13] torque999 commented on #139
I'm still good for #137.  I made sure it works in IIS 8 and 10.  ;-)

[2019-05-30 04:15] devblackops commented on #139
I'm down for doing either #138 or #33

[2019-05-30 13:13] RamblingCookieMonster commented on #139
Any preference @devblackops?  Either works!

[2019-05-31 21:39] steviecoaster commented on #139
I'll be in Disney World chastising a mouse. I'll be down for the next round
😊

On Wed, May 29, 2019, 3:32 PM Warren Frame <notifications@github.com> wrote:

[2019-06-04 21:00] devblackops commented on #139
@RamblingCookieMonster I'll do #138

[2019-06-06 11:35] KirkMunro opened #140 ""Missing" functionality in PowerShell"
[code]

[2019-06-06 11:37] KirkMunro commented on #139
I'm up for doing #140 if you want it.

[2019-06-06 11:49] felixfbecker commented on #139
Does it have to be 18:00 PST? That is 3 AM in CEST (Europe)...
Given that PST is one of the most-west timezones, it would make more sense to me to do it _in the morning_ PST

[2019-06-06 13:04] RamblingCookieMonster commented on #139
@KirkMunro adding you now, thanks : D

@felixfbecker - for this session, yes - but we'll schedule one for 1800 UTC for our next hour - if you submit a proposal we'll ping you for that one - cheers!

[2019-06-06 13:58] felixfbecker opened #141 "Managing git and GitHub with the power of PowerShell"
[code]

[2019-06-12 16:25] vexx32 commented on #139
@RamblingCookieMonster unfortunately I'm not going to be ready for this round. I've not been able to set aside enough time to prepare what I've got the way I want to for the time being. 🙁

I'll make sure I have stuff prepared for next round, or maybe after depending on how my schedule lines up with whatever time zone we do the next one in. 💖

[2019-06-13 14:14] torque999 commented on #139
So, this is my first rodeo.  How are we going to do the presentations tonight?

[2019-06-13 14:45] vexx32 commented on #139
@RamblingCookieMonster will send out both a Youtube link for the viewers and to each of us a private meeting link. I believe we're still using Google Hangouts, it works pretty well directly in the browser.

We'll usually get the meeting link about 30mins or so before start time, and we'll generally want everyone presenting to be there not too long after that if possible, just so we can pre-check e

[2019-06-13 15:02] RamblingCookieMonster commented on #139
@torque999 - can you shoot me you're e-mail?  in PowerShell slack (@ pscookiemonster) or just to warren.frame at gmail - I'll send the stuff @vexx32  mentioned there!

[2019-06-14 00:27] vexx32 opened #143 "FSharplets: Cmdlets in F#"
[code]

[2019-06-14 02:53] #120 closed

[2019-06-14 02:53] #135 closed

[2019-06-14 02:53] #137 closed

[2019-06-14 02:53] #138 closed

[2019-06-14 02:53] #140 closed

[2019-06-14 02:53] #139 closed

[2019-06-14 03:00] stevenjudd opened #146 "Using PowerShell to prove that Six is greater than Seven"
[code]

[2019-06-14 03:33] RamblingCookieMonster commented on #124
Closing this out - is now pretty much standard, awesome idea!

[2019-06-14 03:33] #124 closed

[2019-06-14 07:57] potatoqualitee commented on #124
🎉

[2019-06-15 13:19] glennsarti commented on #112
Closing

[2019-06-15 13:19] #112 closed

[2019-06-15 13:23] glennsarti opened #148 "Dispelling Git Rebase Magic"
Work In Progress - Do **not** schedule this in yet

[code]